@model IEnumerable<day27_Client.Models.OrderDetails>

@{
    ViewData["Title"] = "OrderDetailsIndex";
}

<h1>OrderDetailsIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pincode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pizzas_Required)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity_Needed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crust)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Suggestions)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDetails_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_FullName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pincode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pizzas_Required)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity_Needed)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Crust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suggestions)
            </td>*@
            <td>
                @Html.ActionLink("OrderSummary", "OrderSummary", new { id = item.OrderDetails_ID }) |
                @*@Html.ActionLink("EditOrder", "EditOrder", new { id = item.OrderDetails_ID })
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
