@model IEnumerable<day27_Client.Models.Product>

@{
    ViewData["Title"] = "PizzaIndex";
}
<DIV class="shadow-lg p-3 mb-5 bg-body rounded">
    <div id="d1" style="background-color:papayawhip">
        <h1 class="font-italic"><center> PIZZA MENU !!!</center></h1>
    </div>
</DIV>
<DIV class="shadow-lg p-3 mb-5 bg-body rounded">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active">
                <select id="menid" class="badge-info">
                    <option value="Currently available" selected>MENU</option>
                    <option value="Cheese">Cheese</option>
                    <option value="Veg">Veg</option>
                    <option value="Non-Veg">Non-Veg</option>
                </select>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <summary style="color: darkmagenta" class="badge-light">
                    <details>
                        this page holds the menu of our shop!
                    </details>
                </summary>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="CreateOrderDetails" style="font-display:fallback"> BOOK YOUR PIZZAS NOWWW!! </a>
        </li>
        @*<li class="nav-item" style="margin-bottom:20px">
            <a class="nav-link">
                <input type="search" style="width:450px" placeholder="SEARCH HERE.." /><button> <img src="~/SCH.png" width="20" height="20" style="margin-left:15px" /></button>
            </a>
        </li>*@
    </ul>
</DIV>
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<DIV class="shadow-lg">
    <div class="card" style="width:80rem;">
        <div class="card-body">
            <h5 class="card-title">PIZZA MENU</h5>
            <p class="card-footer">
                CURRENTLY AVAILABLE!!!
                <table class="table">
                    <thead>
                        <div class="card" style="width:80rem;">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Pizza_Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Pizza_Name)
                                </th>
                                <th>PIZZA</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Crust)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Toppings)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsVeg)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th></th>
                            </tr>
                            </div>
                    </thead>
                    <tbody>
                        <div class="card" style="width:80rem;">
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pizza_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pizza_Name)
                                    </td>
                                    <td>  <img class="card-img" width="800" height="300" style="margin:50px 10px" src="~/piz1.jpg" /></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Crust)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Toppings)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsVeg)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                                    </td>
                                </tr>
                            }
                            </div>
                    </tbody>
                </table>
            </p>
        </div>
    </div>
</DIV>
